textarea {
    padding: 10px;
    color: white;
    border-radius: 8px;
    outline: 1px solid aqua;
    resize: none;
    background-color: #111;

}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #00a2ff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}